<manifest package="net.touchcapture.qr.flutterqr"
    xmlns:tools="http://schemas.android.com/tools" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
  <uses-permission android:name="android.permission.VIBRATE" />
</manifest>
